<div class="container-content-cards">
    <div class="card" [ngClass]="{'card-checked':hero.checked?true:false}" *ngFor="let hero of heroes">
        <div class="card-image" id="card-image" title="{{hero.name}}">
            <img src="{{hero?.image?.url}}" alt="{{hero.name}}" (click)="selectHeroes(hero, !hero.checked?true:false)"
                [ngClass]="{'img-checked':hero.checked?true:false}" />
        </div>
        <div class="card-footer">
            <input type="checkbox" class="form-check-input" id="{{hero.name}}" name="{{hero.name}}"
                [(ngModel)]="hero.checked" disabled>

            <h6>{{hero.name}}</h6>
            <span>{{hero.biography["full-name"]}}</span>
            <a class="btn btn-link" href="/heroes-details/{{hero.id}}">Ver detalhes</a>
        </div>
    </div>
</div>