<div class="content" *ngIf="success">
    <h6>{{hero.name}}</h6>
    <a class="btn btn-link" href="/heroes">Voltar</a>

    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Nome completo</th>
                <td scope="col">{{hero.biography["full-name"]}}</td>
            </tr>
            <tr>
                <th scope="col">Image</th>
                <td scope="col">

                    <div class="card">
                        <div class="card-image" id="card-image" title="{{hero.name}}">
                            <img src="{{hero?.image?.url}}" alt="{{hero.name}}" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="col">Powerstats</th>
                <td>
                    <ul *ngFor="let power of powerstats">
                        <li>
                            Inteligência: {{power.intelligence}}
                        </li>
                        <li>
                            Força: {{power.strength}}
                        </li>
                        <li>
                            Velocidade: {{power.speed}}
                        </li>
                        <li>
                            Durabilidade: {{power.durability}}
                        </li>
                        <li>
                            Poder: {{power.power}}
                        </li>
                        <li>
                            Combate: {{power.combat}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th scope="col">Alter Egos</th>
                <td>{{hero.biography["alter-egos"]}}</td>
            </tr>
            <tr>
                <th scope="col">Alias</th>
                <td>{{hero.biography.aliases}}</td>
            </tr>
            <tr>
                <th scope="col">Local de nascimento</th>
                <td>{{hero.biography["place-of-birth"]}}</td>
            </tr>
            <tr>
                <th scope="col">Primeira aparição</th>
                <td>{{hero.biography["first-appearance"]}}</td>
            </tr>
            <tr>
                <th scope="col">Editora</th>
                <td>{{hero.biography.publisher}}</td>
            </tr>
            <tr>
                <th scope="col">Comportamento</th>
                <td>{{hero.biography.alignment}}</td>
            </tr>
            <tr>
                <th scope="col">Sexo</th>
                <td>{{hero.appearance.gender}}</td>
            </tr>
            <tr>
                <th scope="col">Raça</th>
                <td>{{hero.appearance.race}}</td>
            </tr>
            <tr>
                <th scope="col">Profissão</th>
                <td>{{hero.work.occupation}}</td>
            </tr>
        </tbody>
    </table>
</div>