<div class="panel" id="panel" [@openClose]="isOpen ? 'open' : 'closed'">
    <div>

        <h3>Comparação</h3>

        <div class="container-content-cards">
            <div class="card" *ngFor="let hero of heroes">
                <div class="card-image" id="card-image" title="{{hero.name}}">
                    <img src="{{hero.image.url}}" alt="{{hero.name}}" />
                </div>
                <div class="card-footer">
                    <h6>{{hero.name}}</h6>
                    <button class="btn btn-link" (click)="remove(hero)">Remover</button>
                </div>

                <div class="powerstats" *ngIf="details">
                    <h6>{{hero.biography["full-name"]}}</h6>
                    <ul>
                        <li>Inteligência: {{hero.powerstats.intelligence === 'null' ? '-' :
                            hero.powerstats.intelligence}}</li>

                        <li>Força: {{hero.powerstats.strength === 'null' ? '-' :
                            hero.powerstats.strength}}</li>

                        <li>Velocidade: {{hero.powerstats.speed === 'null' ? '-' :
                            hero.powerstats.speed}}</li>

                        <li>Durabilidade: {{hero.powerstats.durability === 'null' ? '-' :
                            hero.powerstats.durability}}</li>

                        <li>Poder: {{hero.powerstats.power === 'null' ? '-' :
                            hero.powerstats.power}}</li>

                        <li>Combate: {{hero.powerstats.combat === 'null' ? '-' :
                            hero.powerstats.combat}}</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

</div>