.container-content-cards {
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.container-content-cards > div {
  margin: 10px;
}

@media (max-width: 568px) {
  .container-content-cards {
    width: 100%;
  }
}

/** CARDS */
.card {
  position: relative;
  width: 200px;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 20px;
  padding: 0px 24px 0px 24px;
  box-shadow: 0px 5px 10px #00000033;
  padding: 10px;
}

.card-image > img {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: 10px;
  width: 180px;
  max-height: 210px;
  border: solid 0px red;
}

.card-image > img:checked {
  border: solid 0px green;
}

.card-checked {
  border: solid 0px green;
  transform: rotate(-5deg);
  box-shadow: 0px 2px 5px #00000033;
}

.card-image > .img-checked {
  border: solid 0px green;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 75px;
  min-height: 75px;
  background: none !important;
  text-align: center;
  border: solid 0px red;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -10px;
}

.card-footer input[type="checkbox"] {
  position: absolute;
  bottom: 7px;
  left: 40px;
  border: solid 0px red;
  display: none;
}

.card-footer a {
  font-size: 0.8rem;
}

.powerstats {
  position: relative;
  top: 100px;
}
