.card {
  position: relative;
  width: 200px;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 20px;
  padding: 0px 24px 0px 24px;
  box-shadow: 0px 5px 10px #00000033;
  padding: 10px;
}

.card-image > img {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: 10px;
  width: 180px;
  max-height: 210px;
  border: solid 0px red;
}

.container-content-cards {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  place-content: center;
  place-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.container-content-cards > div {
  margin: 10px;
}

.powerstats {
  position: relative;
  top: 100px;
}
